* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-height: 72px;
  --upload-aside-width: 280px;
  --color-darkblue: #3c3ba1;
  --color-lightgray: #e4e4e4;
  --color-darkgray: #898989;
  --color-white: #ffffff;
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.manager-container,
.upload-container,
.info-container {
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  display: flex;
}

aside {
  width: var(--upload-aside-width);
  height: 100%;
  background: var(--color-lightgray);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
}

aside > p {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-darkgray);
  font-family: var(--font-family);
  user-select: none;
}

.upload-container > .content,
.manager-container > .content,
.info-container > .content {
  width: calc(100% - var(--upload-aside-width));
  height: 100%;
  background: var(--color-white);
  padding: 20px 12px;
}

/* #region navbar */
nav {
  width: 100%;
  height: var(--navbar-height);
  background: var(--color-darkblue);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  padding: 0 32px;
}

.navbar-item {
  padding: 12px;
  border-radius: 4px;
  height: 48px;
  transition: 450ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item:not(:hover) {
  background: var(--color-darkblue);
}

.navbar-item:not(:hover) > a {
  color: var(--color-white);
}

.navbar-item:hover {
  background: var(--color-darkgray);
}

.navbar-item:hover > a {
  color: var(--color-lightgray);
}

.navbar-item > a {
  font-size: 16px;
  font-weight: bold;
  font-family: var(--font-family);
  text-transform: uppercase;
  text-decoration: none;
  transition: 450ms ease-in-out;
  user-select: none;
}
/* #endregion */

/* #region upload */
.upload-container > .content > form > input {
  display: block;
}

.upload-container > .content > form > input[type="submit"] {
  padding: 4px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--color-darkgray);
  margin: 8px 0 0;
  text-transform: capitalize;
}

.upload-container > .content > p.message {
  margin: 16px 0 0;
  font-size: 14px;
}
/* #endregion */

/* #region filemanager */
aside > a {
  margin: 12px 0 0;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-darkblue);
}

.manager-container > .content > table > thead > tr > th {
  height: 32px;
  padding: 4px 10px 16px;
}

.manager-container > .content > table > tbody > tr > td {
  padding: 0 10px;
}

.manager-container > .content > table > tbody > tr > td:nth-child(1) {
  min-width: 20px;
  text-align: center;
}

.manager-container > .content > table > tbody > tr > td > a {
  text-decoration: none;
}

.manager-container > .content > table > tbody > tr > td > img {
  width: 68px;
  height: 48px;
  margin: auto;
}
/* #endregion */

/* #region info */
.info-container > .content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.info-container > .content > p {
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--color-darkgray);
}

.info-container > .content > p > span {
  font-weight: bold;
  color: var(--color-darkblue);
}
/* #endregion */
