<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .index{ font-size: 32px; background: green; color: white; font-weight:
      bold;} .login {background: blue; }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>