<nav>
  <div class="navbar-item">
    <a href="/" draggable="false">upload</a>
  </div>
  <div class="navbar-item">
    <a href="/filemanager" draggable="false">filemanager</a>
  </div>
  <div class="navbar-item">
    <a href="/info" draggable="false">info</a>
  </div>
</nav>