<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div
    class="container-sm d-flex justify-content-start align-items-center gap-3"
  >
    <a class="navbar-brand text-capitalize fs-4 p-2" href="/">cars</a>
    <a class="navbar-brand text-capitalize fs-6 pt-1 pb-0" href="/add">add</a>
    <a class="navbar-brand text-capitalize fs-6 pt-1 pb-0" href="/list">list</a>
    <a
      class="navbar-brand text-capitalize fs-6 pt-1 pb-0"
      href="/delete"
    >delete</a>
    <a class="navbar-brand text-capitalize fs-6 pt-1 pb-0" href="/edit">edit</a>
  </div>
</nav>