{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block navbar %}

{% endblock %}
{% block content %}
    <div class="container my-5 py-5">
        <div class="row text-center">
            <i class="bi bi-people display-1 text-secondary"></i>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <p class="display-6 text-center">{{ headline }}</p>
                <p class="text-center">Zastosowanie Flask-Login i Flask-SQLAlchemy</p>
                <div class="d-grid py-3">
                    <a href="{{ url_for("login") }}" class="btn btn-outline-secondary rounded-1" role="button">Zaloguj</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}