<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .content {
        margin: 20px 0 0;
        display: flex;
        gap: 12px;
      }

      .content > select {
        display: block;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="buttons-container">
        <button id="add-one">add one</button>
        <button id="add-many">add many</button>
        <button id="delete-selected">delete selected</button>
        <button id="update-selected">update selected</button>
        <button id="get-all">get all</button>
        <button id="delete-all">delete all</button>
      </div>
      <div class="content">
        <select name="animal" id="animal" size="3">
          <option value="cat">cat</option>
          <option value="dog">dog</option>
          <option value="cow">cow</option>
        </select>
        <select name="color" id="color" size="3">
          <option value="white">white</option>
          <option value="black">black</option>
          <option value="yellow">yellow</option>
        </select>
        <select name="" size="4"></select>
        <script></script>

        <script>
          const send = async () => {
            const data = JSON.stringify({
              animal: document.getElementById("animal").value,
              color: document.getElementById("color").value,
            });
            const res = await fetch("/add", { method: "POST", body: data });
            if (res.ok)
              return console.log(await res.text()); //await res.text();
            else return res.status;
          };

          document.getElementById("add-one").onclick = () => send();
        </script>
      </div>
    </div>
  </body>
</html>
