<form action="/login" method="post" class="login-container">
  <input type="text" name="login" placeholder="Login" />
  <input type="password" name="password" placeholder="Password" />
  <input type="submit" value="Log in" />
  <a href="/register">register</a>
</form>