<form action="/register" method="post" class="register-container">
  <input type="text" name="login" placeholder="enter login" />
  <input type="password" name="password" placeholder="enter password" />
  <input type="password" name="confirmPass" placeholder="confirm password" />
  <input type="submit" value="Register" />
  <a href="/login">log in</a>
</form>